@model AdminLTE.Models.SUBTES

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>SUBTES</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DURASI_SUB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DURASI_SUB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created_by)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created_by)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modified_by)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modified_by)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Is_Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Is_Active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NAMA_SUBTES)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NAMA_SUBTES)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TES.Created_by)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TES.Created_by)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_SUBTES }) |
    @Html.ActionLink("Back to List", "Index")
</p>
