@model IEnumerable<AdminLTE.Models.TES>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Created_by)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Created_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Modified_by)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NAMA_TES)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TGL_TES)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Created_by)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Created_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Modified_by)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NAMA_TES)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TGL_TES)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_TES }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_TES }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_TES })
        </td>
    </tr>
}

</table>
